 #nav >a>img{
    width: 200px;
    height: 90px;
}
#nav{
    display: flex;
    justify-content: space-between;
    color: gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
 #container{
            width: 400px;
            margin: auto;
            margin-top: 50px;
        }
        #container > div{
            display: flex;
            justify-content: space-between;
            background-color: white;
        }
        
        #container >input{
            margin-bottom: 60px;
            width: 400px;
            height: 40px;
            margin-top: 10px;
        }
        h2{
            margin-bottom: 50px;
        }
        img{
            height: 30px;
            width: 30px;
            margin-right: 50px;
        }
        button{
           font-size: 20px;
           padding: 10px;
           color: gray;
           border: 0;
           border-radius: 40px;
           background-color: white;
           width: 400px;
           box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
        #login{
            background-color: #FFD600;
            color: white;
            border: 0;
            border-radius: 0;
            width: 400px;
           
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
        h5,h3{
            color: #FFD600;
        }
        label{
            font-size: 15px;
            font-weight: bolder;
        }
        p{
            color: #FF6F00;
            text-align: right;
        }
        h3{
            text-align: center;
            margin-bottom: 60px;
        }