#nav{
    display: flex;
    justify-content: space-between;
    color: gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#nav>a >img{
    width: 200px;
    height: 90px;
}
#register{
            width: 600px;
            margin: auto;
            background-color: white;
            
        }
input{
            width: 600px;
            margin: 0px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid rgb(201, 199, 199);
            font-size: 20px;
            padding:10px;
            
        }
#register > p{
            margin: 0;
        }
#register > h4{
            margin: 0;
            padding: 0;
            margin-top: 50px;
        }
 #status{
           border-radius: 20px 10px 20px 10px;
           background-color: white;
           border: 1px solid rgb(201, 199, 199);
           
        }
        
#status > div >img {
            width:40px;
            
        }
.resume{
            width: 200px;
            height: 40px;
            border-radius: 40px;
            background-color: #FF6F00;
            color: white;
            font-size: 17px;
            font-weight: bolder;
            border: 0;
            margin: 10px;
        }
h3{
            color: #FFD600;;
        }
        p{
            color: grey;
        }
#now{
            width: 250px;
            height: 50px;
            border-radius: 40px;
            background-color: #FFD600;
            color: white;
            border: 0;
            font-size: 20px;
            font-weight: bolder;
            margin: 20px;
        }
#whatsapp{
           padding-top: 20px;
           padding-bottom: 20px;
        }
    
a{
            color: #FFD600;
        }